@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --primary-color: orangered;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
    background-color: rgb(25, 25, 25);
}

#navbar-links-list {
    display: flex;
    list-style-type: none;
}

.navbar-links {
    margin-inline: 10px;
    color: white;
    text-decoration: none;
}

.navbar-links:hover {
    color: var(--primary-color);
}

#heading {
    text-align: center;
}
