@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --primary-color: rgb(139, 69, 19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
    background-color: rgb(25, 25, 25);
}

#navbar-links-list {
    display: flex;
    list-style-type: none;
}

.navbar-links {
    margin-inline: 10px;
    color: white;
    text-decoration: none;
}

.navbar-links:hover {
    color: var(--primary-color);
}

#heading {
    text-align: center;
}

#registration-form, #login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#registration-form > *, #login-form > * {
    margin: 2.5px;
}

.form-inputs {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#form-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    background-color: var(--primary-color);
    color: white;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-links {
    color: white;
    text-decoration: none;
}

.form-links:hover {
    color: var(--primary-color);
}
